Source: cat4igp-client
Section: net
Priority: optional
Maintainer: BadAimWeeb <badaimweeb@protonmail.com>
Build-Depends: debhelper-compat (= 13), cmake
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/BadAimWeeb/cat4igp

Package: cat4igp-client
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, ca-certificates
Description: WireGuard mesh network client
 Client daemon and command-line interface for cat4igp mesh networks.